@font-face {
    font-family: karlo; 
    src: url(fonts/karlo.otf); 
}
@font-face {
    font-family: droid; 
    src: url(fonts/DroidSansMono.ttf); 
}

body {
    cursor: url("../img/cors.png"), auto; /* Обновленный путь */
    background-image: url("../img/back.png"); /* Обновленный путь */
    background-color: black;
    background-size: cover;
    font-family: karlo;
    background-position: center;

    margin: 0;
    color: white;
}
a {
    cursor: url("../img/tapcors.png"), auto; /* Обновленный путь */
}
button {
    cursor: url("../img/tapcors.png"), auto; /* Обновленный путь */
}

button:hover {
    cursor: url("../img/tapcors.png"), auto; /* Обновленный путь */
}
.sidebar {
    width: 200px;
    padding: 20px;
    height: auto;
}
.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
.sidebar a:hover {
    color: #FFDE96;
}
.section {
    padding: 80px 20px;
}

.taro {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}
.rounded-box {
    margin: 0px auto;
    padding: 30px;
    text-align: center;
}
.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cta-button {
    padding: 15px 30px;
    background-image: url("../img/button.png"); /* Обновленный путь */
    background-size: cover;
    border: none;
    border-radius: 5px;

    transition: transform 0.5s;
    width: 320px;
    height: 75px;
    cursor: url("../img/tapcors.png"), auto; /* Обновленный путь */
}
.taro-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 50px;
    display: inline-block;
}
.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cta-button:hover {
    text-decoration: none;
}
.ctaButtonAnimation {
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    height: 300px;
    font-family: droid;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E2E2E2E5;

    padding: 20px 0;
    text-align: center;

}

.footer-content {
    display: flex;
    width: 50%; /* Занимает всю ширину */
}

.footer-left,
.footer-right {
    flex: 1; /* Каждая сторона занимает равное пространство */
}

.footer-left {
    padding-right: 20px; /* Отступ между левым и правым блоком */
}

footer ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}
footer li {
    margin: 5px 0; /* Отступы между элементами списка */
}

.contact-info {
    display: flex;
    flex-direction: column; /* Располагаем элементы в столбик */
    justify-content: center; /* Центрируем по вертикали */
    align-items: flex-start; /* Выравниваем по левому краю */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center; /* Центрируем текст внутри блока */
}
.contact-info ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.contact-info ul li {
    margin: 5px 0; /* Отступы между элементами списка */
}
.contact-info h4 {
    margin-bottom: 10px; /* Отступ снизу заголовка */
}

.social-icons {
    display: flex; /* Располагаем иконки в ряд */
    margin-top: 10px; /* Отступ сверху для иконок */
    justify-content: center; /* Центрируем иконки по горизонтали */
}

.social-icons img {
    width: 30px; /* Указываем ширину иконок */
    height: auto; /* Высота подстраивается автоматически */
    margin-right: 10px; /* Отступы между иконками */
}

footer a {
    color: #E2E2E2E5;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}
footer a:hover {
    color: #f3dfa2;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.card {
    background-color: transparent;
    border: none;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.card img {
    width: 450px;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}
.duplicate {
    margin-top: 10px;
    display: block;
}

.form-group {
    margin-bottom: 15px;
}
label {
    cursor: url("../img/cors.png"), auto; /* Обновленный путь */
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.rating {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    direction: row-reverse; /* Разворачиваем порядок для наведения */
}
.rating input {
    display: none;
}
.rating label {
    font-size: 24px;
    color: #ccc;
    margin-right: 5px;
    transition: color 0.3s;
}
.rating input:checked + label {
    color: gold;
}
.rating input:checked ~ input + label {
    color: gold;
}

.subscribe {
    margin: 10px 0;
}
.submit-button {
    background-image: url("../img/send.png"); /* Обновленный путь */
    background-size: cover;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 20px;

    width: 320px;
    height: 75px;
}
.submit-button:hover {
    transform: scale(1.05);
    cursor: url("../img/tapcors.png"), auto; /* Обновленный путь */
}
.review {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.review strong {
    display: block;
}
.reviews-container {
    width: 50%; /* ширина контейнера с отзывами */
    max-height: 600px; /* фиксированная высота для прокрутки */
    overflow-y: auto; /* вертикальная прокрутка, если контент превышает высоту */
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin-right: 20px;
}

.review-form {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    flex: 1; /* чтобы форма занимала оставшееся пространство */
}

.d-flex {
    display: flex;
    gap: 10px; /* Отступ между отзывами и формой */
}
.rating-display {
    font-size: 24px; /* Размер звезд */
}

.rating-display .star {
    display: inline-block; /* Отображаем звезды в ряд */
    color: gold; /* Цвет заполненных звезд */
    margin: 0 2px; /* Отступ между звездами */
}

/* Убедитесь, что пустые звезды имеют нужный стиль, несмотря на отсутствие контента */
.rating-display .star.empty {
    color: #ccc; /* Цвет пустых звезд */
}
/* Фон для модального окна */
.modal {
    cursor: url('../img/cors.png'), auto;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
    text-align: center;
}

a{
    cursor: url('../img/tapcors.png'), auto;
}
button{
    cursor: url('../img/tapcors.png'), auto;
}

button:hover{
    cursor: url('../img/tapcors.png'), auto;
}

/* Контейнер для содержимого модального окна */
.modal-content {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #000000;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 900px;
    height: 400px;
    border-radius: 10px;
}

.modal-body {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.tarolog {
    position: absolute; 
    top: -170px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
    max-width: 550px;
}


.text {
    position: absolute; 
    z-index: 3;
    top: 50%; 
    left: 50%; 
    max-width: 400px; 
    transform: translate(-50%, -50%); 
    padding-bottom: 90px;
}



.Space {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('../img/Space.png');
    background-size: cover; 
    background-position: center; 
    border-radius: 10px; 
    z-index: 1; 
}
/* Кнопка */ 
.button-container {
    display: flex;   
    justify-content: center;   
    align-items: center;   
    padding-top: 250px; 
}

.but {
    width: 210px; 
    height: 50px; 
    background-image: url("../img/Buttonpay.png");
    background-size: cover; 
    background-repeat: no-repeat;  
    background-position: center; 
    border: none;   
    z-index: 3; 
    cursor: pointer;  
    cursor: url('../img/tapcors.png'), auto;
    transition: transform 0.3s; 
    border-radius: 5px;
}

.but:hover {
    transform: scale(1.1); 
}

.close {
    position: absolute; 
    top: 10px; 
    right: 20px; 
    width: 20px;
    height: 20px; 
    cursor: pointer; 
    z-index: 3; 
    
}
#closeButton {
    position: absolute;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.close:hover {
    opacity: 0.7;
}

#meta-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* Скрыт за пределами экрана */
    opacity: 0; /* Полностью прозрачный */

    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Плавный переход для transform и opacity */
  }

  #meta-container.show {
    transform: translateX(-50%) translateY(0); /* Поднимается вверх */
    opacity: 1; /* Становится видимым */
  }

  #meta-container img {
    display: block;
    width: 500px;
    height: auto;
  }
  #musicButton {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px; 
    height: 60px;
    background-image: url('../img/music.png');
    background-size: cover;
    background-color: transparent; 
    border: none; 
    cursor: url('../img/tapcors.png'), auto;
    z-index: 6; 
    transition: opacity 0.3s ease; 
}

#musicButton:hover {
    opacity: 0.7; 
}
